
  <body>
  <div class="container1">
    <h2 class="sub">welcome to
      <span class="glyphicon glyphicon-book" aria-hidden="true"><strong>Bookers  !!</strong>
      </span>
    </h2>
    <p class="text">In
      <span class="glyphicon glyphicon-book" aria-hidden="true"><strong>Bookers,</strong></span><br/>
      you can share and exchange your opinions , inpressions , and emotions<br/>
      about various books!
    </p>
    <div class="btn-wrapper">
      <div class="row1">
      <%= link_to 'Log in', new_user_session_path, class: 'btn btn-primary' %><br>
    </div>
    <div class="row1">
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
    </div>
  </div>
  </div>
  </body>
<footer>
  <div class="container2">
    <p>CopyRight Infratop.inc</p>
  </div>
</footer>