// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.container1 {
  text-align: center;
  display: block;
  margin: 20px;
}

.sub {
  padding-right: 80px;
}

.container1 .text {
 text-align: left;
 display: inline-block;
}




.container2 {
   text-align: center;
   padding-left: 1000px;
}